@{
    ViewBag.Title = "Inicio";
}

<div class="text-center">
    <h2 class="text-primary">
        Administración técnica
    </h2>
    <br />
    <img src="https://i.pinimg.com/originals/4e/85/a3/4e85a322d07e21cec697dd0fe362ad73.jpg" width="600" height="400" />
</div>